<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - APARS</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!-- Navbar template-->
   <div id="navbar"></div>

    <!-- JavaScript to load navbar -->
   <script src="../js/menu.js"></script>
    <script>
        // Load navbar dynamically
        fetch('navbar.html')
            .then(response => response.text())
            .then(data => document.getElementById('navbar').innerHTML = data);
    </script>

    

</body>
</html>




